@{
    ViewData["Title"] = "Курсы";
}

<div class="courses-bg">
    <header class="head">
        <a class="logo" href="/"><img src="~/img/logo.svg" class="logo-shadow" />SweetVoice</a>
        <nav>
            <ol>
                <li><a href="/">Главная</a></li>
                <li><a href="/Courses">Курсы</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">О нас</a></li>
            </ol>
        </nav>
        <a href="#">Войти<img class="profile_logo" src="~/img/profile_icon_black.svg"></a>
    </header>
    <hr class="hrborder" size="1" width="1860" />
    <div class="courses-menu">
        <div class="menu">
            <div></div>
            <div></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
    $(document).ready(function (){
    document.getElementsByClassName('main-body')[0].style.display = 'flex';
    })
	</script>
}