
@{
    ViewData["Title"] = "Курсы";
}
<div class="courses-bg">

</div>

@section Scripts
{
    <script>
    $(document).ready(function (){
    document.getElementsByClassName('main-body')[0].style.display = 'flex';
    })
	</script>
}