/* _content/SiteCourses/Views/Home/Courses.cshtml.rz.scp.css */
.head a:last-child[b-abajbqn56y]{
    color: black;
}

.head nav ol li a[b-abajbqn56y]{
    color: black;
}

.head .logo[b-abajbqn56y]{
    color: black !important;
}

.head a:last-child[b-abajbqn56y]{
    color: black;
}

.head a:last-child:hover[b-abajbqn56y]{
    text-decoration-color: black;
}

.head nav ol li:first-child a[b-abajbqn56y] {
    text-decoration-color: rgba(0, 0, 0, 0.20);
}
